<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Publication #<%= @publication.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/publications" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @publication.publication %>
          <a href="/publications/<%= @publication.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit publication
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @publication.publication %>
          <a href="/delete_publication/<%= @publication.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete publication
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        Publication
      </dt>
      <dd>
        <% if @publication.publication.present? %>
          <a href="/users/<%= @publication.publication_id %>">
            <%= @publication.publication.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@publication.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@publication.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

